<ion-view>
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img src="img/universal.jpg">
            </div>
            <a class="item item-icon-right positive" href="#" ui-sref="app.distributors({'company': 'co0000534'})">
                <i class="icon ion-ios-arrow-forward"></i> Universal Studio
            </a>
        </div>
        <div class="list card">
            <div class="item item-image">
                <img src="img/paramount.png">
            </div>
            <a class="item item-icon-right positive" href="#" ui-sref="app.distributors({'company': 'co0023400'})">
                <i class="icon ion-ios-arrow-forward"></i> Paramount Pictures
            </a>
        </div>
        <div class="list card">
            <div class="item item-image">
                <img src="img/warner.png">
            </div>
            <a class="item item-icon-right positive" href="#" ui-sref="app.distributors({'company': 'co0072876'})">
                <i class="icon ion-ios-arrow-forward"></i> Warner Bros
            </a>
        </div>
    </ion-content>
</ion-view>
