<ion-view ng-controller="favoritesController as vm" title="Favoris">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right item-avatar" ng-repeat="favori in vm.favorites" ui-sref="app.movie-detail({'movie': favori.imdb_id, 'movieTitle': favori.original_title})">
                <img src="img/lord.jpg"> {{favori.original_title}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
